SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
PORT=3000

ECPAY_MERCHANT_ID=
ECPAY_HASH_KEY=
ECPAY_HASH_IV=
ECPAY_API_URL=https://payment-stage.ecpay.com.tw/Cashier/AioCheckOut/V5
ECPAY_RETURN_URL=http://localhost:5173/orders/completed
ECPAY_BACK_URL=http://localhost:5173/orders/checkout
ECPAY_ORDER_RESULT_URL=http://localhost:5173/orders/completed

LINE_PAY_CHANNEL_ID=
LINE_PAY_CHANNEL_SECRET=
LINE_PAY_SITE=https://sandbox-api-pay.line.me
LINE_PAY_VERSION=v3
LINE_PAY_CONFIRM_URL=http://localhost:5173/orders/completed
LINE_PAY_CANCEL_URL=http://localhost:5173/orders/checkout