SUPABASE_URL=貼連結，等號後面不用加空格
SUPABASE_SERVICE_ROLE_KEY=貼service role key，等號後面不用加空格
PORT=3000
LINE_PAY_CHANNEL_ID=ID
LINE_PAY_CHANNEL_SECRET=Password
LINE_PAY_SITE=https://sandbox-api-pay.line.me/
LINE_PAY_VERSION=v3

MERCHANTID=ID
HASHKEY=KEY
HASHIV=IV