SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
PORT=3000

ECPAY_MERCHANT_ID=
ECPAY_HASH_KEY=
ECPAY_HASH_IV=
ECPAY_API_URL=
ECPAY_RETURN_URL=
ECPAY_BACK_URL=
ECPAY_ORDER_RESULT_URL=

LINE_PAY_CHANNEL_ID=
LINE_PAY_CHANNEL_SECRET=
LINE_PAY_SITE=
LINE_PAY_VERSION=v3
LINE_PAY_CONFIRM_URL=
LINE_PAY_CANCEL_URL=